# Virtual environments
venv/
source/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
data/

# Images
app/images/

# Environment variables
.env

# Key files
*.pem

# Exports
exports/app/models/arcfaceresnet100-8.onnx
app/models/mobilefacenet_int8.onnx
exports/
*.onnx
